<a href="https://colab.research.google.com/github/khalidpark/Projects/blob/main/%EB%B0%94%EB%A5%B4%EC%85%80%EB%A1%9C%EB%82%98%20%EC%8A%B9%EB%A6%AC%EC%98%88%EC%B8%A1/RE_BA_MUNI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

import pandas as pd

In [ ]:
CSV_COLUMN_NAMES = ['MatchType', 'MessiStarting', 'MessiPreTime', 'MessiPreGoal', 'MessiPrePreGoal', 'HomeAway', 'Team', 'Referee', 'GapTime', 'Weather', 'VsWin', 'VsDraw', 'VsLose', 'VsRanking', 'Results']
RESULTS = ['Win', 'Draw', 'Lose']

In [ ]:
train_path = tf.keras.utils.get_file(
    "barca_training.csv", "https://docs.google.com/spreadsheets/d/1v1DjKlL413-qFA0zTCagxtobIfstFCxD24RoO48X0PQ/edit?usp=sharing")
test_path = tf.keras.utils.get_file(
    "barca_test.csv", "https://docs.google.com/spreadsheets/d/1CXiWt5qVu1WAFcbgY9k9EHmX-owXAqZoo8uHaVcgO6Q/edit?usp=sharing")

trainbarca = pd.read_csv(train_path, names=CSV_COLUMN_NAMES)
testbarca = pd.read_csv(test_path, names=CSV_COLUMN_NAMES)

In [ ]:
trainbarca.head()

   MatchType  MessiStarting MessiPreTime  ... VsLose VsRanking  Results
0      120.0            4.0       setosa  ...    NaN       NaN      NaN
1        6.4            2.8          5.6  ...    NaN       NaN      NaN
2        5.0            2.3          3.3  ...    NaN       NaN      NaN
3        4.9            2.5          4.5  ...    NaN       NaN      NaN
4        4.9            3.1          1.5  ...    NaN       NaN      NaN

[5 rows x 15 columns]